*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(75deg, blue, rgb(96, 0, 0))

}
/* GENERAL */
.sellect{
    border: 6px solid orangered;
}
.main{

}
.container{
    width: 95%;
    margin: 5px auto;
}
.content{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px;
}
.user{

}

.user-info {
    background: #fff;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin: 10px;

}

.subject{
    padding: 25px;
    background-color: rgb(236, 236, 236);
    margin-top: 10px;
}
.subject-content{
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.7);
    margin: 7px;

}